.hero-container{
    width: 80vw;
    margin:auto;
    margin-top:  0px;
    margin-bottom:  100px;
    padding: 35px;
    background-color: rgb(240, 240, 240);
    backdrop-filter: blur(5px);
    box-shadow: rgba(131, 131, 131, 0.812) 5px 5px 5px;
    border-radius: 15px;
    display: grid;
    grid-column: 3fr 1fr;
    gap: 50px;
    align-items: center;
  }
  
  .hero-container .image-boxes{
    width: 400px;
    height: 350px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: repeat(1fr , 10);
    gap: 5px 10px;
  }
  
  .hero-container .image-boxes div{
    background: url(./images/hero.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
  }
  
  .hero-container .image-boxes .box-1{
    grid-row: 2 / 9;
    background-position: 5% 50%;
  }
  .hero-container .image-boxes .box-2{
    grid-row: 1 / 10;
    background-position: 45% 50%;
  }
  .hero-container .image-boxes .box-3{
    grid-row: 2 / 5;  
    background-position: 90% 20%;
    background-size: 450px;
  }
  .hero-container .image-boxes .box-4{
    grid-row: 5 / 8;
    background-position: 92% 100%;
    background-size: 400px;
  }
  
  .hero-container .text{
    grid-column: 2/3;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
  }
  
  .hero-container .text p{
    color: rgb(0, 0, 0);
  }
  
  .hero-container .text .title-text{
    font-family: 'Open Sans', sans-serif;;
    font-size: 2em;
    font-weight: 600;
  }
  
  .hero-container .text .title-text span{
    color: #00629B;
  }
  
  .hero-container .text .content-text{
    line-height: 1.35;
    font-size: 1.1em;
  }

  @media (max-width: 1000px){

    .hero-container{
      display: block;
      padding: 35px;
      width: 90vw;
      font-size: 10px;
      margin-bottom: 0;
    }

    .hero-container .image-boxes{
      display: none;
    }

    .hero-container .text{
      width: 100%;
      text-align: justify;
    }
  }