.counters{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
  }
  
  .counters div{
    background-color: hsla(0, 0%, 0%, 0.45);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 15px;
    padding: 25px 15px;
  }
  
  .counters div h2{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;;
  }
  
  .counters div p{
    color: #FFA300;
    font-size: 3.5rem;
  }