@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
  
  .AboutUs {  
    color: #00629B;
    background: url(./images/Snapinsta\ 1.png) no-repeat;
    background-size: cover;
    padding-bottom: 200px;
  }