*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* 
    Blue : #00629B 
    Orange : $FFA300
    */
  }
  
  .AboutUs {  
    color: #00629B;
    background: url(./images/Snapinsta\ 1.png) no-repeat;
    background-size: cover;
  }