/* MembershipCard.css */

.MembershipCard {
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    width: 95%;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .MembershipCard .MembershipCardBody {
    padding: 15px;
  }
  