/* MembershipCard.css */

.MembershipCard {
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
}
  
.MembershipCard .MembershipCardBody {
  width: 80%;
  margin: 15px auto;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);  
  padding: 20px 15px;

}
.MembershipCard .MembershipCardBody input {
  display: none;
}
.MembershipCard .MembershipCardBody label{
  text-decoration: none;
  color: #FFA300;
  font-size: 1.5rem;
  font-weight: 600;
}

.MembershipCard .MembershipCardBody label::before{
  content: "+";
  font-weight: 800;
  color: black;
}

.MembershipCard .MembershipCardBody p{
  color: #00629B;
  width: 85%;
  max-height: 0;
  overflow: hidden;
  margin: auto;
  transition: max-height .5s, padding .25s;
}

.MembershipCard .MembershipCardBody p a{
  color: #FFA300;
}

.MembershipCard .MembershipCardBody input:checked + label + p {
  max-height: 400px;
  padding: 10px 0px;
}

.MembershipCard .MembershipCardBody input:checked + label::before{
  content: "-";
}

/* Blue #00629B */
/* Orange #FFA300 */

@media (max-width:1000px) {
  .MembershipCard{
    padding: 25px 0px;
  }
  .MembershipCard .MembershipCardBody {
    width: 90%;
  }
  .MembershipCard .MembershipCardBody p{
    width: 90%;
    text-align: justify;
  }
}