/* AdminDashboard.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .admin-dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #4070f4;
    color: #fff;
    padding: 20px;
    height: 800px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
  }
  
  li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    height: 50px;
    border-radius: 45px;
    padding-left: 40px;
    padding-top: 13px;/* Add a smooth transition effect */
  }
  
  li:hover {
    background-color: #FFA300; /* Change the background color on hover */
  }
  
  li.active {
    background-color: #FFA300; /* Change the background color for the active tab */
  }
  
  .content {
    flex: 1;
    padding: 20px;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #4070f4;
  }
  
  .notification-icon {
    font-size: 24px;
    cursor: pointer;
  }



/* add event form css */


  .eventform {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  h3 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  

  input[type="date"],
  input[type="time"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 35px;
    box-sizing: border-box;
    border-color: #FFA300;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #FFA300;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:#d3901b;
  }
  
  /* Media Query for mobile responsiveness */
  @media (max-width: 768px) {
    .admin-dashboard {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      order: 2; /* Move sidebar below content on mobile */
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .notification-icon {
      margin-top: 10px;
    }
  }
  