*{
    scroll-behavior: smooth;
}

nav{
    z-index: 1000;
    width: 100%;
    padding: 5px 25px;
    background: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(180, 180, 180, 0.6) 0px 6px 8px;

    /* border: 5px black solid; */
}



nav .nav-logo img{
    width: 130px;
}

nav .nav-links{
    display: flex;
    align-items: center;
}

nav .nav-links .nav-item{
    margin: 0 1px;
}

nav .nav-links .nav-item a{
    color: black;
    font-weight: 500;
    text-decoration: none;
    display:inline-block; 
    padding:2px 15px;
    transition: font-size ease .3s;
}

nav .nav-links .nav-item:hover a{
    background: #FFA300;
    border-radius: 20px;
    font-size: 1.1rem;
    color: white;
}

nav .nav-links .nav-item .active{
    background: #FFA300;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
}

nav .side-bar, nav .side-bar-icon{
    display: none;
}

@media (max-width: 1000px){
    
    nav .nav-links {
        display: none;
    }

    nav .side-bar-icon{
        width: 2rem;
        /* height: ; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: .32rem;
    }
    nav .side-bar-icon span{
        width: 2rem;
        height: .3rem;
        border-radius: .32rem;
        background-color: black;
        transition: transform .5s cubic-bezier(0.19,-0.01, 0.13, 1.01), opacity .2s cubic-bezier(0.19,-0.01, 0.13, 1.01) ;
    }
    nav .side-bar-icon .side-bar-icon-span-2{
        width: 1.7rem;
    }
    nav .side-bar-icon.clicked .side-bar-icon-span-1{
        transform: translate( 0 , .62rem) rotate(405deg);
    } 
    nav .side-bar-icon.clicked .side-bar-icon-span-2{
        opacity: 0;
    }
    nav .side-bar-icon.clicked .side-bar-icon-span-3{
        transform: translate( 0 , -.62rem) rotate(-405deg);
    }


    nav .side-bar{
        z-index: -1;
        height: 100%;
        width: 100%;
        overflow: hidden;
        opacity: 0%;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 1.5rem;
        transition: .55s background-color ease-in-out,
                    /* .4s font-size ease-in-out, */
                    .45s opacity ease-in-out,
                    .4s visibility ease-in-out;
    }

    nav.opened .side-bar{
        background-color: white;
        width: 100%;
        opacity: 100%;
        /* font-size: 1.5rem; */
        visibility: visible;
    }
    
    nav .side-bar .nav-item a{
        color: black;
        font-weight: 500;
        text-decoration: none;
        display:inline-block; 
        padding:0 7px;
    }

    nav .side-bar .nav-item a:hover{
        color: #FFA300;
    }

}